<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jpg.mapper.BikeMapper">

	<select id="list" resultType="BikeVO">
	<![CDATA[
	SELECT *
	FROM bike_info
	WHERE bikenum > 0
	]]>
	</select>
	
	<select id="selectByNum" resultType="BikeVO">
	SELECT *
	FROM bike_info
	WHERE bikenum = #{bikenum}
	</select>
	
	<update id="rent">
	UPDATE bike_info
	SET status = 1, usagedate = #{startDate}
	WHERE bikenum = #{bikenum}
	</update>
	
	<update id="turnin">
	UPDATE bike_info
	SET status = 0, location = #{loc}
	WHERE bikenum = #{bikenum}
	</update>
	
</mapper>